@using hubfast_frontend.Views.Helpers
@using hubfast_frontend.Services.Helpers
@using hubfast_frontend.Services.Models.Enums
@model EdicaoIntegracaoViewModel;
@{
    ViewBag.Title = "Configurar Integração";
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/lib/jsoneditor/dist/css/jsoneditor.min.css"/>
}
<div class="container">
    <h3 class="mb-2">Configuração de Integração</h3>
    <ul class="nav nav-tabs" id="tabsConfiguracao" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="config-tab" data-bs-toggle="tab" href="#tab_integracao" role="tab" aria-controls="tab_integracao" aria-selected="true">Configuração</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="options-tab" data-tab="tab_operacoes" data-bs-toggle="tab" href="#tab_operacoes" role="tab" aria-controls="tab_operacoes" aria-selected="false">Operações</a>
        </li>
        @if (Model.OpcaoHealthcheck)
        {
            <li class="nav-item">
                <a class="nav-link" id="options-tab" data-bs-toggle="tab" href="#tab_healthcheck" role="tab" aria-controls="tab_healthcheck" aria-selected="false">Healthcheck</a>
            </li>
        }
        @if (Model.OpcaoLogService)
        {
            <li class="nav-item">
                <a class="nav-link" id="options-tab" data-bs-toggle="tab" href="#tab_logservice" role="tab" aria-controls="tab_logservice" aria-selected="false">Log Service</a>
            </li>
        }
        @if (Model.OpcaoAuthorization)
        {
            <li class="nav-item">
                <a class="nav-link" id="options-tab" data-bs-toggle="tab" href="#tab_authorization" role="tab" aria-controls="tab_authorization" aria-selected="false">Authorization</a>
            </li>
        }
        @if (Model.OpcaoSwagger)
        {
            <li class="nav-item">
                <a class="nav-link" id="options-tab" data-bs-toggle="tab" href="#tab_swagger" role="tab" aria-controls="tab_swagger" aria-selected="false">Swagger</a>
            </li>
        }
    </ul>
    <div class="tab-content" id="tabsContent">
        <div class="tab-pane fade show active" id="tab_integracao" role="tabpanel" aria-labelledby="integration-tab">
            <form id="integrationForm" asp-controller="Integracao" asp-action="Editar">
                <input asp-for="IdIntegracao" type="hidden"/>
                <div class="row mt-3">
                    <div class="col-6">
                        <span class="d-inline-block">
                            <label for="nomeIntegracao" class="form-label">Nome da Integração</label> <i class="mx-1 fs-5 icon ion-information-circled" title="Insira um nome válido (sem espaços ou caracteres especiais, exceto '-' e '_')."></i>
                        </span>
                        <input type="text" asp-for="NomeIntegracao" class="form-control" name="nomeIntegracao" required="required" pattern="[a-zA-Z0-9_\-]+" autocomplete="off"/>
                        <p class="fs-6 fst-italic">@ConfigurationHelper.GetSetting("Aplicacao:urlHubIntegracao")/v@(Model.VersaoIntegracao)/<label class="nome-integracao fw-bold">@(string.IsNullOrEmpty(Model.NomeIntegracao) ? "nome_integracao" : Model.NomeIntegracao)</label>/{operacao}</p>
                    </div>
                    <div class="col-6">
                        <label for="tipoIntegracao" class="form-label">Tipo de Integração</label>
                        <select class="form-select" asp-for="CodigoTipoIntegracao" name="tipoIntegracao" required>
                            @foreach (var tipo in EnumsHelper.ListarEnums<TipoIntegracaoEnum>())
                            {
                                <option value="@tipo.CodigoEnum()">@tipo.DescricaoEnum()</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row mt-2 mb-3">
                    <div class="col-6">
                        <label for="descricaoIntegracao" class="form-label">Descrição da Integração</label>
                        <textarea class="form-control" asp-for="DescricaoIntegracao" name="descricaoIntegracao" id="descricaoIntegracao" rows="8"></textarea>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Opções de Integração</label>
                        <div class="form-check">
                            <label class="form-check-label" for="opcaoHealthcheck">
                                <input class="form-check-input" type="checkbox" asp-for="OpcaoHealthcheck" name="opcaoHealthcheck" id="opcaoHealthcheck"> Healthcheck
                            </label>
                            <div class="fs-6 fst-italic">Verificar a saúde da API exposta na integração.</div>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="opcaoLogService">
                                <input class="form-check-input" type="checkbox" asp-for="OpcaoLogService" name="opcaoLogService" id="opcaoLogService"> Log Service
                            </label>
                            <div class="fs-6 fst-italic">Registrar os logs de transações da integração.</div>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="opcaoAuthorization">
                                <input class="form-check-input" type="checkbox" asp-for="OpcaoAuthorization" name="opcaoAuthorization" id="opcaoAuthorization"> Authorization
                            </label>
                            <div class="fs-6 fst-italic">Configurar autenticação de entrada da integração.</div>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="opcaoSwagger">
                                <input class="form-check-input" type="checkbox" asp-for="OpcaoSwagger" name="opcaoSwagger" id="opcaoSwagger"> Swagger
                            </label>
                            <div class="fs-6 fst-italic">Documentar a API exposta na integração para apresentação do Swagger.</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Gravar Integração <i class="ion-social-foursquare-outline"> </i> </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="tab_operacoes" role="tabpanel" aria-labelledby="integration-tab">
            <div class="operacoes">Carregar operações...</div>
        </div>
        @if (Model.OpcaoHealthcheck)
        {
            <div class="tab-pane" id="tab_healthcheck" role="tabpanel" aria-labelledby="integration-tab">
                <div class="healthcheck">Carregar healthcheck...</div>
            </div>
        }
        @if (Model.OpcaoLogService)
        {
            <div class="tab-pane" id="tab_logservice" role="tabpanel" aria-labelledby="integration-tab">
                <div class="logservice">Carregar log service...</div>
            </div>
        }
        @if (Model.OpcaoAuthorization)
        {
            <div class="tab-pane" id="tab_authorization" role="tabpanel" aria-labelledby="integration-tab">
                <div class="authorization">Carregar authorization...</div>
            </div>
        }
        @if (Model.OpcaoSwagger)
        {
            <div class="tab-pane" id="tab_swagger" role="tabpanel" aria-labelledby="integration-tab">
                <div class="swagger">Carregar swagger...</div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/lib/jsoneditor/dist/js/jsoneditor.min.js")"></script>
    <script src="@Url.Content("~/js/view-integracao-editar.js")"></script>
    <script src="@Url.Content("~/js/view-integracao-operacoes.js")"></script>
}