@model List<ParmAutorizacaoModel> 
@{
    
    const string nameGrantType = "Grant type";
    var keyGrantType = Model[0].Key;
    var valueGrantType = Model[0].Value;
    
    const string nameAccessTokenURL = "Access Token URL";
    var keyAccessTokenURL = Model[1].Key;
    var valueAccessTokenURL = Model[1].Value;
    
    const string nameClientID = "Client ID";
    var keyClientID = Model[2].Key;
    var valueClientID = Model[2].Value;
    
    const string nameClientSecret = "Client Secret";
    var keyClientSecret = Model[3].Key;
    var valueClientSecret = Model[3].Value;
}
<div class="row mt-3">
    <div class="alert alert-info">
        <strong>OAuth 2.0</strong> é um protocolo de autenticação e autorização amplamente utilizado para permitir que aplicativos de terceiros acessem recursos de um usuário sem expor suas credenciais. O OAuth 2.0 utiliza tokens de acesso e refresh tokens, que são obtidos através de diferentes fluxos (ou "grants") dependendo do tipo de aplicação e do nível de acesso necessário. É considerado um padrão seguro e flexível, ideal para aplicações que precisam acessar APIs de forma segura em nome de um usuário.
    </div>
</div>

<div class="row mt-3">
    <label for="@keyGrantType" class="col-3 col-form-label">@nameGrantType</label>
    <input type="hidden" name="ParmsAutorizacao[0].Key" value="@keyGrantType"/>
    <div class="col-9">
        <select class="form-select" name="ParmsAutorizacao[0].Value">
            @foreach (var tipo in EnumsHelper.ListarEnums<AutorizacaoGrantTypeEnum>())
            {
                <option selected="@(valueGrantType.Equals(tipo.CodigoEnum().ToString()))" value="@tipo.CodigoEnum()">@tipo.DescricaoEnum()</option>
            }
        </select>
    </div>
</div>  
<div class="row mt-3">
    <label for="@keyAccessTokenURL" class="col-3 col-form-label">@nameAccessTokenURL</label>
    <input type="hidden" name="ParmsAutorizacao[1].Key" value="@nameAccessTokenURL"/>
    <div class="col-9">
        <input type="url" name="ParmsAutorizacao[1].Value" class="form-control" id="@keyAccessTokenURL" placeholder="https://oauth.com/login/access_token" value="@valueAccessTokenURL">
    </div>
</div>
<div class="row mt-3">
    <label for="@keyClientID" class="col-3 col-form-label">@nameClientID</label>
    <input type="hidden" name="ParmsAutorizacao[2].Key" value="@nameClientID"/>
    <div class="col-9">
        <input type="text" name="ParmsAutorizacao[2].Value" class="form-control" id="@keyClientID" placeholder="@nameClientID" value="@valueClientID">
    </div>
</div>
<div class="row mt-3">
    <label for="@keyClientSecret" class="col-3 col-form-label">@nameClientSecret</label>
    <input type="hidden" name="ParmsAutorizacao[3].Key" value="@nameClientSecret"/>
    <div class="col-9">
        <input type="text" name="ParmsAutorizacao[3].Value" class="form-control" id="@keyClientSecret" placeholder="@nameClientSecret" value="@valueClientSecret">
    </div>
</div>